@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,400&family=DM+Sans:wght@300;400;500&family=Noto+Naskh+Arabic:wght@400;600;700&family=Cairo:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b5acc2; /* 0d0a12 */
  color: #f8bbd9;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #e5e2e9;
}
::-webkit-scrollbar-thumb {
  background: #c2185b;
  border-radius: 2px;
}
